# dependencies
node_modules/
.pnpm-store/

# build output
dist/
coverage/

# env
.env
.env.prod
.env.clients.json
apps/**/.env
apps/**/.env.prod
packages/**/.env
packages/**/.env.prod
.config

# editor
.vscode/
.idea/

# macOS
.DS_Store

# certs
certs/*
!certs/.gitkeep

# logs
*.log

# claude
.claude/
